<div class="container">
  <div class="jumbotron text-center">
    <img class="center" class="rounded" src="./assets/img/burger.jpg" alt="burger">
    <h1>BURGER CORRAL</h1>
    <div class="row">
      <div class="col-6">
        <div class="row">
          {{#each brgs}}
            {{#unless this.devoured}}
          <div class="col-6" >
            <p>{{this.id}}. {{this.burger_name}}</p>
          </div>
          <div class="col-6">
              <button type="submit" id="devBurger" data-id="{{this.id}}" value="{{this.id}}" data-devoured="{{this.devoured}}">Devour IT!</button>
          </div>
          {{/unless}}
        {{/each}}
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          {{#each brgs}}
          {{#if this.devoured}}
          <input type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
          {{/if}}
          {{/each}}

        </div>



      </div>

      <!-- <div class="col-6" id="deleteBurger">
        <ul>

        </ul>
      </div> -->
    </div>
    <hr>
    <form>
      <div class="form-group">
        <label for="exampleTextarea">Burger Name</label>
        <div class="row">
          <div class="col-3">
          </div>
          <textarea class="form-control col-6" id="burgerTextArea" rows="3"></textarea>
          <div class="col-3">
          </div>
        </div>
      </div>
      <button type="submit" id="submit">Submit</button>
    </form>
    <p>Enter a burger name you want to eat it, click the 'Submit' button</p>
  </div>
</div>
