<div class="container">
  <div class="jumbotron text-center">
    <img class="center" class="rounded" src="./assets/img/burger.jpg" alt="burger">
    <h1>BURGER CORRAL</h1>
    <div class="row">
      <div class="col-6">
        <div class="row">
          {{#each brgs}}
            {{#unless devoured}}
          <div class="col-6">
            {{this.id}}. {{this.burger_name}}
          </div>
          <div class="col-6">
            <button data-burgerid="{{this.id}}" class="btn btn-success" id="devour">Devour it!</button>
            <button data-burgerid="{{this.id}}" class="delburger btn btn-danger">Remove</button>
          </div>
          {{/unless}}
        {{/each}}
        </div>
      </div>
      <div class="col-6">
          {{#each brgs}}
            {{#if devoured}}
                <p>{{this.id}}. {{this.burger_name}}
                <button data-burgerid="{{this.id}}" class="delburger btn btn-danger">Remove</button></p>            
            {{/if}}
          {{/each}}
      </div>
    </div>
    <hr>
    <form class="text-center">
      <div class="form-group">
        <textarea class="form-control" id="newBurger" rows="3" placeholder="Burger Name"></textarea>
      </div>
      <button type="submit" id="addBurger" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
